.app-content h3 {
  font-size: 2.2vh;
}

.app-content h2 {
  font-size: 2.6vh;
}

.app-content h1 {
  font-size: 3vh;
}

.app-content p {
  font-size: 1.8vh;
}

.app-content pre {
  border-left: solid;
  border-color: rgb(169, 229, 240);
}

.wrap-everything {
  max-width: 800px;
  padding: 10px;
  margin: auto;
}

.endoffile {
  color: rgb(160, 160, 160);
  margin: 0 0 5vh;
}

.application {
  width: 100%;
}

footer {
  text-align: center;
  padding: 5vh;
  text-decoration: none;
  color: white;
  background-color: rgb(7, 7, 26);
  margin: 0;
}

footer a {
  color: rgb(169, 229, 240);
  text-decoration: none;
}

p a {
  color: rgb(169, 229, 240);
  text-decoration: none;
}

hr {
  margin: 4vh 0 1vh;
}

a:hover {
  color: rgb(97, 197, 255);
}

.app-content {
  min-height: 50vh;
}

h1.prog-title {
  width: fit-content;
  margin: 5vh 0 0;
}

.by-tag {
  width: fit-content;
  margin: 0 0 5vh;
}

h3.filename {
  color: rgb(169, 229, 240);
}

nav {
  width: fit-content;
  position: fixed;
  left: 4vmin;
  top: 4vmin;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  nav {
    width: fit-content;
    position: inherit;
    display: block;
    left: 4vmin;
    top: 4vmin;
  }
}
